.config { 
    text-align: left;
    height:100%;
    width:100%; 
    box-shadow: inset -10px -10px 30px rgb(157, 191, 255), inset 10px 10px 30px rgb(157, 191, 255);
    display: inline-block;
  }

  .config ion-list {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: bold;
    font-size: 18px;
  }

  .config ion-item ion-label{
    font-size: 15px; 
    word-wrap: break-word;
  }
