<ion-header>
  <ion-toolbar color="primary"> 
    <!-- 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    -->
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pesquisa">
    <button ion-button (click)="startVoz()" color="secundary">
      <ion-icon slot="icon-only" name="mic"></ion-icon>
    </button>  
  </div>
  <div class="pesquisa">
      <button ion-button (click)="playVoz()" color="secundary">
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </button>  
    </div>
  <!-- FEITO PARA TESTAR, SE QUANDO FALA MOSTRA DESCRICAO DITA
  <ion-card>
      <ion-card-content *ngFor="let match of matches">
        <p>{{ match }}</p>
      </ion-card-content>
  </ion-card>
  -->
</ion-content>
